* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

section {
  margin: 0 10%;
  margin-top: 20px;
}

ul>li {
  list-style: none;
}

.color-red {
  color: #F63440;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* navbar styling*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 30px 10%;
  background-color: #fff;
}

.logo {
  color: #F63440;
  font-weight: bold;
}

.profile-logo {
  color: #F63440;
  font-size: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.nav-list a:hover {
  color: #F63440;
}

.nav-list>li>.active {
  color: #F63440;
  padding-bottom: 18px;
  border-bottom: 2px solid #F63440;
}
/* end of navbar styling */

/* styling of the section above the table (text + btn) */
.table-intro {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.add-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #F63440;
  color: #fff;
  font-weight: bold;
}

.add-btn a {
  text-decoration: none;
  color: #fff;
}

.add-btn:hover {
  background-color: #831c00;
}
/* end of styling the above the table section */


/* Styling of the table */
.table {
  border-collapse: collapse;
  margin: 30px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* ensures that the border radius set on the table will work  */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.table thead tr {
  background-color: #fff;
  text-align: left;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.table tbody tr:last-of-type {
  /* targeting the last border bottom of the table */
  border-bottom: 2px solid #000;
}

.column-review{
  width: 30%;
}

.review-date {
  color: #888;
}

.review-location {
  font-size: 10px;
  color: #888;
}

.review-parag {
  font-size: 10px;
  color: #888;
}
/* end of table styling */


/* pagination */
.main-pagination {
  text-align: right;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #000;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.pagination a.active {
  background-color: #F63440;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #fff;
}
/* end of pagination */

/* adminRestaurantUpload page */
.table-intro h2 a {
  text-decoration: none;
  color: #000;
}

.table-intro h2 a:hover {
  text-decoration: none;
  color: #555;
}

/* form styling */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 15px 12px 5px 0;
  display: inline-block;
  font-weight: bold;
}

input[type=submit] {
  background-color: #F63440;
  margin-top: 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #831c00;
}

.cancel {
  background-color: #aaa;
  margin-top: 15px;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.cancel:hover {
  background-color: #888;
}

.flex-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

h2 {
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.images-upload {
  display: flex;
  justify-content: space-between;
  color: #F63440;
  font-weight: bolder;
}

.img-box {
  border: 2px dashed #F63440;
  border-radius: 5px;
  padding: 150px 180px;
}