*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f5f5f5;
}

img{
    width: 100%;
    border-radius: 10px;
}

.page-content{
    margin: 0 10%;
}


/* main page styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.hero-container{
    background: url("./assets/delicious.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 150px;
    margin-top: 150px;
}


.hero-content{
    width: 35%;
    height: 100%;
}

.hero-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #F63440;
    margin-bottom: 10px;
}

.hero-paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 150px;

}

.restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* restaurants list */
.our-restaurants{
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
}

.our-restaurants > h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    color: #F63440;
}

.our-restaurants > hr{
    width: 100%;
}

.restaurants-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.restaurants-row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.restaurant-box{
    width: 30%;
    height: 100%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}


.restaurant-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.restaurant-heading > h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.rating{
    color: white;
    background-color: green;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.restaurant-box p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #696969;
    padding: 0 3%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  margin-top: 10vh;
  height: 40px;
  color: #fff;
  font-weight: bold;
  background-color: #F63440;
}

.footer a{
    color:#fff
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    gap: 20px;
}


/* restaurant-reviews */ 
.full-page{
    width: 100%;
}

.restaurant-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.restaurant-image-box{
    width: 33%;
}

.restaurant-details{
    margin-bottom: 2vh;
}

.restaurant-details-box{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 3%;
    
}

.restaurant-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;    
    margin-bottom: 5vh;
}

.restaurant-main-details{
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    width: 50%;
}

.restaurant-logo > img{
    width: 100px;
    height: 100px;
}

.restaurant-headers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurant-main-details h1{
    font-weight: 700;
    font-size: 40px;
    
}

.restaurant-main-details h2{
    font-weight: 500;
    font-size: 24px;
}

.restaurant-details-box > p{
    font-size: 20px;
}

.restaurant-details-box > h3{
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 500;
    font-size: 24px;
}


.reviews-container{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 3%;
}

.reviews-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.reviews-container-header > h1{
    font-size: 30px;
    color: #F63440;
}

.btn{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #F63440;
    padding: 1vw 3vw;
    border: none;
    border-radius: 10px;
}

.review{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    border-bottom: 2px solid #C4C4C4;
}

.review-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.user > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user > h1{
    width: 70%;
    margin: 0 1vw;
    font-size: 20px;
}

.rating-small{
    width: 42px;
    margin: 2vh 0;
}

.review-content > h2{
    font-size: 18px;
    margin-bottom: 2vh;
}

/* edit-profile page */
.profile-header{
    padding: 3%;
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.profile-header > h1{
    font-size: 24px;
}

.edit-profile{
    padding: 3%;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.edit-profile > h1{
    font-size: 24px;
    color: #F63440;
    margin: 0 0 10px 0;
}

.cridentials-box{
    width: 100%;
    padding: 10px 0;
}


input, select{
    width: 100%;
    height: 50px;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0 2%;
}

input{
    padding: 0 3%;
}


select:invalid{
    color: grey;
}

select option { 
    color: black; 
}


.save-changes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.btn-small{
    padding: 1vw 2vw;
}

.cancel{
    background-color: #C4C4C4;
}